<div class="toolbar">
  <div>
    <button mat-mini-fab (click)="first()" color="primary">
      <mat-icon>first_page</mat-icon>
    </button>
  </div>
  <div>
    <button mat-mini-fab (click)="moveBy(-1)" color="primary">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div>
    <button mat-mini-fab (click)="moveBy(1)" color="primary">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div>
    <button mat-mini-fab (click)="last()" color="primary">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>
