@import "variables";

.container {
  position: relative;
  width: 500px;
  margin: 100px auto;

  @media (max-width: map-get($breakpoints, sm)) {
    margin: 5rem 2rem;
    width: auto;
  }
}

.avatar {
  position: absolute;
  top: -75px;
  left: 75%;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
  max-width: 130px;
  max-height: 130px;
}
